// F prefix - Font
.f-heading {
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 106%;
}
.f-menu {
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 106%;
}
.f-main-text {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 142%;
}
.f-small-main {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 106%; /* 12.72px */
}
.f-signatures {
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: 106%; /* 10.6px */
}
.f-medium {
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 106%; /* 14.84px */
}
.h-underline {
	text-decoration: underline;
}
.h-uppercase {
	text-transform: uppercase;
}
.h-clickable {
	cursor: pointer;
}

// B prefix - Base
.b-card {
	border-radius: 4px;
	background: #fff;
	box-shadow: var(--Shadow-01);
	padding: 24px;
	&--small {
		padding: 12px 8px 12px 16px;
	}
	&--dashed {
		border: 1px dashed var(--Basic-Grey);
	}
	&--centered {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.b-modal-divider {
	margin-left: -52px;
	margin-right: -52px;
	width: calc(100% + 104px);
	height: 1px;
	background: white;
}
